<% set_title "Your Companies"%>

<% set_width 8, 4 %>


<% content_for :thead do %>
	<tr>
		<th class="col-md-1">Selected</th>
		<th>Company</th>
		<th></th>
	</tr>
<% end %>

<% content_for :table do %>
	
	<% @tenants.each do |t| %>
		
		<tr>
			<td><% if t == current_tenant %><span class="glyphicon glyphicon-ok"></span><% end %></td>
			<td><%= link_to_if t != current_tenant, t.name, {:controller => :tenants, :action => :set, :id => t.id} %></td>
			<td><% if can? :update, Tenant %>		
				<%= link_to "Edit", edit_tenant_path(t) %>
			<% end %></td>
		</tr>
	<% end %>

<% end %>

<% content_for :footer do %>
	<% if can? :create, Tenant %>
		<%= link_to "Add new", new_tenant_path, :class => "btn btn-primary" %>
	<% end %>
<% end %>