<% if user_signed_in? && !@no_menus %>
  <li>
  <%= link_to('Edit Registration', main_app.edit_user_registration_path) %>
  </li>
<% elsif !@no_menus %>
  <li>
  <%= link_to('Register', main_app.new_user_registration_path)  %>
  </li>
<% end %>