<% if index.errors.any? %>		
	<div id="errorExplanation">
		<h4 class="alert-heading"><%= pluralize(index.errors.count, "error") %> prohibited this <%= index.class.name %> from being saved:</h4>
			<ul>
	      <% index.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
  </div>	
<% end %>