<nav class="navbar">
  <div class="navbar-header">
    <h3 id="title"><%= yield(:page_title) %></h3>
  </div>
 
  <ul class="nav navbar-nav navbar-left">
    <%= render 'layouts/body/flash_messages' %>
  </ul>
     
  <ul class="nav navbar-nav navbar-right">
    <li></li>
  </ul>
          
  <ul class="nav navbar-nav navbar-right">
    <li></li>
  </ul>          
</nav>
