<% if @display && @item %>
		
	<li><%= form_tag(display_specifications_path, :method => 'get', :class => "navbar-form navbar-left") do %>		
		<%= collection_select :item, :id, @items, :id, :code, {:selected => @item.id}, {:onchange => "this.form.submit();", :class => "form-control display dropdown"} %>		
	<% end %></li>
			
<% end %>