<% if user_signed_in? %>
	<% if current_user.tenants.count > 1 && !@select_tenant %>
		<li>
			<%= form_tag '/company/update', :style => 'margin:0;' do  %>
				<%= select_tag "tenant_id", options_from_collection_for_select( current_user.tenants, "id", "name"), {:prompt => "Switch Company", :style => "margin:5px;", :onchange=>'this.form.submit()'} %>
			<% end %>
		</li>
	<% end %>
<% end %>