<ul class="nav">
	<% if current_user && !@no_menus %>
		<li>
			<%= link_to "Companies", tenants_path %>
		</li>
	<% end %>
	<% if tenant_set? && !@no_menus %>
		<% if can? :manage, User %>
			<li><%= link_to "Users", memberships_path %></li>
		<% end %>	
	<% end %>	
</ul>
