@import "bootstrap/variables";
@import "bootstrap/mixins";

$base-color: #00FF00;
$base-color: #52526F;
$page-color: #F1F1F1;
$complimentary-color: #333333;
$background-color: darken($base-color,40);
$border-color: lighten($background-color,3);
$row-color: fade-out(lighten($background-color, 15), .3);
$header-color: fade-out(darken($background-color, 7), .5);
$font-color: lighten($background-color, 70);
$header-font-color: lighten($complimentary-color,30);
$static-page-color: #D9E8E5;
$static-page-color: #F1F1F1;
$static-page-text-color: #13038D;

body {
  padding-top: 50px;
  background-color: $page-color;
}

body.static-page {
  background-color: $static-page-color;
  color: $static-page-text-color;
  background-image: url('normal.png');
  background-size: 525px 395px;
  padding-top: 0px;
}

body.display {
  background-color: $background-color;
}

table.display {
  border-color: $complimentary-color;
}

tr.display-row {
  background-color: $row-color;
  color: $font-color;
  border-color: $complimentary-color;
}

thead.display-header {
  background-color: $header-color;
  color: $header-font-color;
}

table > thead > tr > th.display {
  border-color: $complimentary-color;
}

table > tbody > tr > td.display {
  border-color: $complimentary-color;
}

table .align_center {
  text-align:center;
}

table .align_right {
  text-align:right;
}

table .bold {
  font-weight: bold;
}

select.inline-select {
  width: auto;
}

hr.multi-view {
  height: 1px;
  background-color: $border-color;
}

button.close {
  padding-left: 50px;
}

.pagination {
  margin: 0;
}

.icon-control {
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.pad {
  padding: 0 30px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.jumbotron.hero-block {
  @include gradient-vertical(darken($static-page-color,10), lighten($static-page-color,10));
  border-style: solid;
  border-width: 1px;
  border-color: darken($static-page-color, 20);
}

.bottom-space {
  padding-bottom: 12px;
}

.top-space {
  padding-top: 12px;
}

.left-space {
  padding-left: 12px;
}

.right-space {
  padding-right: 12px;
}

.logo-font {
  color: lighten($static-page-text-color, 10);
}

.display .dropdown {
  background-color: lighten($background-color,20);
  color: $font-color;
  border-color: lighten($border-color,20);
}

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-top: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h4 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  list-style: square;
  margin-top: 12px;
  margin-left: 12px;
}

.navbar .nav .dropdown-toggle .caret.caret-header {
  border-top-color: $header-font-color;
  border-bottom-color: $header-font-color;
}

.pending {color: lighten(blue, 30);}

.deleted {
	color:red;
	text-decoration:line-through;
}

.past {color:gray;}

.future {color:blue;}

.canceled {
	color:gray;
	text-decoration:line-through;
}

.unused {
  color:gray;
  text-decoration:line-through;
}

.full-fluid {
  padding-left: 20px; 
  padding-right: 20px; 
}

.row-display {
  padding-top: 20px;
}

.row-multi-view {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: lighten($border-color, 60);
  padding-top: 5px;
  padding-bottom: 10px;
}

.flash {
  margin-top: 12px;
  margin-bottom: 6px;
  padding: 8px 15px;
}

#sortable {
  tr.sortable {
    cursor: row-resize;
  }
}

#factory {
  padding: 10px;
  padding-right: 20px;
  height: 50px;
  width: auto;
}

#title {
  padding: 0 10px 0 0;
  font-family: "Times New Roman",Georgia,Serif;
  color: blue;
}