<% if index.errors.any? %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
			<div class="alert alert-error">
				<h2 class="alert-heading"><%= pluralize(index.errors.count, "error") %> prohibited this <%= index.class.name %> from being saved:</h2>
				<ul>
		      <% index.errors.full_messages.each do |msg| %>
		      	<hr class="divider">
		        <li><%= msg %></li>
		      <% end %>
	      </ul>
	    </div>
		  </div>
		</div>
	</div>
<% end %>