<% provide(:title, 'Welcome') %>
<h1>EntryPages#home</h1>
<% if current_user %>
	<p>Logged in</p>
<% else %>
	<p>Not logged in</p>
<% end %>
<p>Unscoped</p>
<% if current_user %>
	<p>Hi, <%=current_user.email %></p>
<% end %>
